body { font-family: sans-serif; background: #eee; }
a { text-decoration: none; }
h1, h2 { color: #377ba8; }
h1, h2 { font-family: 'Georgia', serif; margin: 0; }
h2 { font-size: 1.1em; border-bottom: 2px solid #eee; margin: 3; }
h5 { text-align: center; }
.page { margin: 2em auto; max-width: 1280px; border: 5px solid #ccc; padding 0.8em; background: white; }
.entries { list-style: none; margin: 0; padding: 0; }
.entries li { list-style: none; margin: 0; padding: 0; }
.entries li h2 { margin: 0.8em 1.2em; }
.add-entry { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl { font-weight: bold; }
div.metanav { font-align: left; font-size: 0.8em; padding: 0.3em; background: #377ba0; color: #000; }
.flash { background: #cee5f5; padding: 0.5em; }
.error { background: $f0d6d6; padding: 0.5em; }
div.botnav { color: #377ba0; text-align: center; font-size: 0.8em; padding: 0.3em; }
a.metanav { color: #fff; }
a.botnav { color: #377ba0; border-top: 2px solid #eee; }

table.test tr:nth-child(even) { background: white; }
table.test tr:nth-child(odd) { background: gray; }
tr.bottom { border-bottom: 1px solid black; }
table {width: 100%; margin: 0px; border-collapse: collapse;}
table.test tr td {border-left: 1px solid black; border-right: 1px solid black;}
th { background: black; color: white; }
td#f { border: 0px; }
table tr#al {text-align: left;}
table tr#ar {text-align: right;}
table tr td#br { border-bottom: 1px solid black; text-align: right; }
table tr td#bl { border-bottom: 1px solid black; text-align: left; }
table tr.empty { border: 0px; }
td#q, td#r, td#h, td#t { text-align: left; }

video { margin-top: 10px; }