{% extends "shakespeareTemplate.html" %}
{% block head %}
<script type="text/javascript" src="{{ url_for('shakespeare.static', filename='js/game.js') }}"></script>
{% endblock %}
{% block body %}
<main id="main" style="background-image: url({{ url_for('shakespeare.static', filename='imgs/street.png') }})">
	<div class="name">
		<p class="name">Curio</p>
	</div>
	<div class="text">
		<p class="text">
			Feste, the jester, my lord; a fool that the lady<br>
			Olivia's fater took much delight in. He is about the house.
		</p>
	</div>
	<a class="next" href="javascript:next()">&gt;&gt;&gt;</a>
</main>
{% endblock %}