{% extends "shakespeareTemplate.html" %}
{% block head %}
<script type="text/javascript" src="{{ url_for('shakespeare.static', filename='js/game.js') }}"></script>
{% endblock %}
{% block body %}
<main id="main">
</main>
<nav>
	<ul id="nav">
		<li>
			<button type="button" onClick="javascript:button(1)" >Button 1</button>
		</li>
		<li>
			<button type="button" onClick="javascript:button(2)" >Button 2</button>
		</li>
		<li>
			<button type="button" onClick="javascript:button(3)" >Button 3</button>
		</li>
		<li>
			<button type="button" onClick="javascript:button('insult')">Insult</button>
		</li>
	</ul>
</nav>
{% endblock %}