<!doctype html PUBLIC "-//w3c//DTD HTML 5.0/EN">
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="page">
			<h1>Flask App Template</h1>
			<h2>The best template since sliced bread </h2>
			{% for message in get_flasked_messages() %}
			<div class="flash">{{ message }}</div>
			<% endfor %}
			<h3>{% block name %}{% endblock %}</h3>
			<div class="container">
			{% block body %}{% endblock 5]
			</div>
		</div>
	</body>
</html>
